{% extends 'honey/base.html' %}

{% block content %}
{#<h1>{{title}}</h1>#}
{##}
{##}
{#    Біздің уәдеміз#}
{#Біздің сайт теріңізге және шашыңызға пайдалы болады және бақытты және салауатты өмір салтын сақтауға көмектеседі.#}
{##}
{#Біз сіз үшін қолымыздан келгеннің бәрін жасауды жалғастырамыз#}
{#Косметика өнеркәсібінде жылдар бойы жұмыс істегеннен кейін Honeyskin Organics негізін қалаушылар бұдан былай қарап тұра алмайды және арзан, зиянды толтырғыштар мен химиялық заттардың теріңізге және шашыңызға көмектесетінін мәлімдейтін қымбат өнімдерге кіретінін көре алмады, ал шын мәнінде бұл өнімдер тек сіздің денеңізге зиян келтіреді. тері мен шаш одан әрі.#}
{##}
{#Біз индустрия ұсынатын ең жақсы ингредиенттерді қамтитын шынымен жоғары сапалы тері мен шаш күтімі өнімдерін жасау арқылы өзгеріс енгізуді шештік. Бал терісінен жасалған өнімдер теріңізге және шашыңызға пайдалы екендігі үшін үлкен беделге ие болды. Біздің тұтынушыларымыз саладағы ең үздіктер және сіздің арқаңызда біз сау баламаны іздейтіндерге балама ұсынуды жалғастырамыз. Қарапайым тілмен айтқанда, біздің өнімдеріміз теріңізге және шашыңызға пайдалы болады және бақытты және салауатты өмір салтын сақтауға көмектеседі деген уәдеміз бар. Біз барлық өнімдерді өзімізге, балаларымызға және үй жануарларымызға пайдаланамыз. Біз өз өнімдерімізді мақтан тұтамыз. Бал терісі - біздің өміріміздің маңызды бөлігі. Біздің отбасымыздан сіздің отбасыңызға: ЛӘЗАТТЫҢЫЗ!#}
{##}
{##}
{##}
{#{% endblock %}#}




	<div class="home d-flex flex-column align-items-start justify-content-end">
        {% load static %}
{#		<div class="background_image" style="background-image:url(images/about.jpg)"></div>#}
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'honey/images/img_2.png' %}"></div>
		<div class="home_overlay"><img src="{% static 'honey/images/home_overlay.png' %}" alt="Biz jaily"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content" >
							<div class="home_title" >Біз жайлы</div>
                            <div class="home_text"><h6>Біздің сайт теріңізге және шашыңызға пайдалы әрі бақытты және салауатты өмір салтын сақтауға көмектеседі.</h6></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Intro -->

	<div class="intro">
		<div class="container">
			<div class="row">

				<!-- Intro Content -->
				<div class="col-lg-8">
					<div class="intro_content">
						<div class="section_title_container">
							<div class="section_subtitle">Honey Skin</div>
							<div class="section_title"><h2>Біз сіз үшін қолымыздан келгеннің бәрін жасауды жалғастырамыз</h2></div>
						</div>
						<div class="intro_text">
							<p>Косметика өнеркәсібінде жылдар бойы жұмыс істегеннен кейін Honeyskin Organics негізін қалаушылар бұдан былай қарап тұра алмайды және арзан, зиянды толтырғыштар мен химиялық заттардың теріңізге және шашыңызға көмектесетінін мәлімдейтін қымбат өнімдерге кіретінін көре алмады, ал шын мәнінде бұл өнімдер тек сіздің денеңізге зиян келтіреді. тері мен шаш одан әрі.</p>
						</div>

						<!-- Milestones -->
						<div class="milestones">
							<div class="row milestones_row">

								<!-- Milestone -->
								<div class="col-md-3 milestone_col">
									<div class="milestone">
										<div class="milestone_counter" data-end-value="3000" data-sign-before="+">0</div>
										<div class="milestone_text">Клиенттер</div>
									</div>
								</div>

								<!-- Milestone -->
								<div class="col-md-3 milestone_col">
									<div class="milestone">
										<div class="milestone_counter" data-end-value="300">0</div>
										<div class="milestone_text">Өнімдер</div>
									</div>
								</div>

								<!-- Milestone -->
								<div class="col-md-3 milestone_col">
									<div class="milestone">
										<div class="milestone_counter" data-end-value="2000" data-sign-before="+">0</div>
										<div class="milestone_text">Қосымша пайдаланушылары</div>
									</div>
								</div>

								<!-- Milestone -->
								<div class="col-md-3 milestone_col">
									<div class="milestone">
										<div class="milestone_counter" data-end-value="5">0</div>
										<div class="milestone_text">Сертификаттар</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>

				<!-- Intro Image -->
				<div class="col-lg-3">
					<div class="intro_image"><img src="{% static 'honey/images/h.jpg' %}" width="450px" height="400px"></div>
				</div>
			</div>
		</div>
	</div>


	<!-- Team -->

	<div class="team" style="margin-bottom: 100px">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_subtitle">Honey Skin</div>
						<div class="section_title" style="margin-top: 20px; margin-bottom: 100px"><h2>Біздің мамандар</h2></div>
					</div>
				</div>
			</div>
			<div class="row team_row">

				<!-- Team Item -->
				<div class="col-lg-4 team_col" >
					<div class="team_item text-center d-flex flex-column aling-items-center justify-content-end">
						<div class="team_image"><img src="{% static 'honey/images/eka.jpg' %}" alt="" width="300px" height="400px"></div>
						<div class="team_content text-center">
							<div class="team_name" style="margin-top: 20px"><a href="#">Раненко Екатерина Валерьевна</a></div>
							<div class="team_title">Қызмет атауы: Дерматолог, Дерматовенеролог</div>
							<div class="team_text">
                                <p>Тәжірибе: 10 жыл</p>
							</div>
                            <div>
								<li><a href="https://api.whatsapp.com/send/?phone=%2B77064203395&text&type=phone_number&app_absent=0"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                                <li><a href="tel:+7 (925) 826-81-99"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
								<li><a href="https://instagram.com/dr.ranenko?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-lg-4 team_col">
					<div class="team_item text-center d-flex flex-column aling-items-center justify-content-end">
						<div class="team_image"><img src="{% static 'honey/images/cos.png' %}" width="300px" height="400px" alt=""></div>
						<div class="team_content text-center">
							<div class="team_name" style="margin-top: 20px"><a href="#">Арынова Гульназия Угубаевна</a></div>
							<div class="team_title">Қызмет атауы: Косметолог</div>
							<div class="team_text">
                                <p>Тәжірибе: 28 жыл</p>
							</div>
                             <div>
								<li><a href="https://api.whatsapp.com/send/?phone=%2B77064203395&text&type=phone_number&app_absent=0"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                                <li><a href="tel:+77059160728"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
								<li><a href="https://instagram.com/dermatologist_almaty?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-lg-4 team_col">
					<div class="team_item text-center d-flex flex-column aling-items-center justify-content-end">
						<div class="team_image"><img src="{% static 'honey/images/de1.jpg' %}"  width="300px" height="400px"  alt=""></div>
						<div class="team_content text-center">
							<div class="team_name" style="margin-top: 20px"><a href="#">Нурланова Гульжан Сапаргалиевна</a></div>
							<div class="team_title">Диетолог, Эндокринолог</div>
							<div class="team_text">
                                <p>Тәжірибе: 30 жыл</p>
							</div>
                             <div>
								<li><a href="https://api.whatsapp.com/send/?phone=%2B77064203395&text&type=phone_number&app_absent=0"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                                <li><a href="tel:+77759812774"><i class="fa fa-phone"></i></a></li>
								<li><a href="https://instagram.com/nurlanova_guljan?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}