{% extends 'honey/base.html' %}

{% block content %}
{#<h1>{{title}}</h1>#}
{##}
{##}
{#    Біздің уәдеміз#}
{#Біздің сайт теріңізге және шашыңызға пайдалы болады және бақытты және салауатты өмір салтын сақтауға көмектеседі.#}
{##}
{#Біз сіз үшін қолымыздан келгеннің бәрін жасауды жалғастырамыз#}
{#Косметика өнеркәсібінде жылдар бойы жұмыс істегеннен кейін Honeyskin Organics негізін қалаушылар бұдан былай қарап тұра алмайды және арзан, зиянды толтырғыштар мен химиялық заттардың теріңізге және шашыңызға көмектесетінін мәлімдейтін қымбат өнімдерге кіретінін көре алмады, ал шын мәнінде бұл өнімдер тек сіздің денеңізге зиян келтіреді. тері мен шаш одан әрі.#}
{##}
{#Біз индустрия ұсынатын ең жақсы ингредиенттерді қамтитын шынымен жоғары сапалы тері мен шаш күтімі өнімдерін жасау арқылы өзгеріс енгізуді шештік. Бал терісінен жасалған өнімдер теріңізге және шашыңызға пайдалы екендігі үшін үлкен беделге ие болды. Біздің тұтынушыларымыз саладағы ең үздіктер және сіздің арқаңызда біз сау баламаны іздейтіндерге балама ұсынуды жалғастырамыз. Қарапайым тілмен айтқанда, біздің өнімдеріміз теріңізге және шашыңызға пайдалы болады және бақытты және салауатты өмір салтын сақтауға көмектеседі деген уәдеміз бар. Біз барлық өнімдерді өзімізге, балаларымызға және үй жануарларымызға пайдаланамыз. Біз өз өнімдерімізді мақтан тұтамыз. Бал терісі - біздің өміріміздің маңызды бөлігі. Біздің отбасымыздан сіздің отбасыңызға: ЛӘЗАТТЫҢЫЗ!#}
{##}
{##}
{##}
{#{% endblock %}#}




	<div class="home d-flex flex-column align-items-start justify-content-end">
        {% load static %}
		<!-- <div class="background_image" style="background-image:url(images/about.jpg)"></div> -->
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'honey/images/aboutt.jpg' %}" data-speed="0.8"></div>
		<div class="home_overlay"><img src="{% static 'honey/images/home_overlay.png' %}" alt="Biz jaily"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content" style="margin-bottom: 490px">
							<div class="home_title" >Біз жайлы</div>
							<div class="home_text">Біздің сайт теріңізге және шашыңызға пайдалы әрі бақытты және салауатты өмір салтын сақтауға көмектеседі.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Intro -->

	<div class="intro">
		<div class="container">
			<div class="row">

				<!-- Intro Content -->
				<div class="col-lg-8">
					<div class="intro_content">
						<div class="section_title_container">
							<div class="section_subtitle">Honey Skin</div>
							<div class="section_title"><h2>Біз сіз үшін қолымыздан келгеннің бәрін жасауды жалғастырамыз</h2></div>
						</div>
						<div class="intro_text">
							<p>Косметика өнеркәсібінде жылдар бойы жұмыс істегеннен кейін Honeyskin Organics негізін қалаушылар бұдан былай қарап тұра алмайды және арзан, зиянды толтырғыштар мен химиялық заттардың теріңізге және шашыңызға көмектесетінін мәлімдейтін қымбат өнімдерге кіретінін көре алмады, ал шын мәнінде бұл өнімдер тек сіздің денеңізге зиян келтіреді. тері мен шаш одан әрі.</p>
						</div>

						<!-- Milestones -->
						<div class="milestones">
							<div class="row milestones_row">

								<!-- Milestone -->
								<div class="col-md-3 milestone_col">
									<div class="milestone">
										<div class="milestone_counter" data-end-value="3000" data-sign-before="+">0</div>
										<div class="milestone_text">Клиенттер</div>
									</div>
								</div>

								<!-- Milestone -->
								<div class="col-md-3 milestone_col">
									<div class="milestone">
										<div class="milestone_counter" data-end-value="300">0</div>
										<div class="milestone_text">Өнімдер</div>
									</div>
								</div>

								<!-- Milestone -->
								<div class="col-md-3 milestone_col">
									<div class="milestone">
										<div class="milestone_counter" data-end-value="2000" data-sign-before="+">0</div>
										<div class="milestone_text">Қосымша пайдаланушылары</div>
									</div>
								</div>

								<!-- Milestone -->
								<div class="col-md-3 milestone_col">
									<div class="milestone">
										<div class="milestone_counter" data-end-value="5">0</div>
										<div class="milestone_text">Сертификаттар</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>

				<!-- Intro Image -->
				<div class="col-lg-3 offset-lg-1">
					<div class="intro_image"><img src="{% static 'honey/images/intro_1.jpg' %}" alt=""></div>
				</div>
			</div>
		</div>
	</div>


	<!-- Team -->

	<div class="team">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_subtitle">Honey Skin</div>
						<div class="section_title"><h2>Біздің мамандар</h2></div>
					</div>
				</div>
			</div>
			<div class="row team_row">

				<!-- Team Item -->
				<div class="col-lg-4 team_col">
					<div class="team_item text-center d-flex flex-column aling-items-center justify-content-end">
						<div class="team_image"><img src="{% static 'honey/images/team_1.jpg' %}" alt=""></div>
						<div class="team_content text-center">
							<div class="team_name"><a href="#">Michael Smith</a></div>
							<div class="team_title">Plastic Surgeon</div>
							<div class="team_text">
								<p>Odio ultrices ut. Etiam ac erat ut enim maximus accumsan vel ac nisl. Duis feugiat bibendum orci, non elementum urna.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-lg-4 team_col">
					<div class="team_item text-center d-flex flex-column aling-items-center justify-content-end">
						<div class="team_image"><img src="{% static 'honey/images/team_2.jpg' %}" alt=""></div>
						<div class="team_content text-center">
							<div class="team_name"><a href="#">Samantha Doe</a></div>
							<div class="team_title">Plastic Surgeon</div>
							<div class="team_text">
								<p>Ultrices ut. Etiam ac erat ut enim maximus accumsan vel ac nisl. Duis feugiat bibendum orci, non elementum urna.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-lg-4 team_col">
					<div class="team_item text-center d-flex flex-column aling-items-center justify-content-end">
						<div class="team_image"><img src="{% static 'honey/images/team_3.jpg' %}" alt=""></div>
						<div class="team_content text-center">
							<div class="team_name"><a href="#">James Carl</a></div>
							<div class="team_title">Plastic Surgeon</div>
							<div class="team_text">
								<p>Etiam ac erat ut enim maximus accumsan vel ac nisl. Duis feugiat bibendum orci, non elementum urna. Odio ultrices ut.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}