{% extends 'honey/base.html' %}


{% block content %}
<h1>{{title}}</h1>

    {% load static %}
	<div class="home d-flex flex-column align-items-start justify-content-end">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'honey/images/contacttt.jpg' %}" data-speed="0.8"></div>
		<div class="home_overlay"><img src="{% static 'honey/images/home_overlay.png' %}" alt=""></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Байланыс</div>
							<div class="home_text">Бізбен байланыс орнату үшін төмендегіні толтырыңыз.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Contact -->
    <div class="intro">
		<div class="container">
			<div class="row">
                <div class="col-lg-6 intro_col">
					<div class="intro_form_container">
						<div class="intro_form_title">Байланысу үшін</div>
						<div class="contact_content_text">
							<p>Cұрағыңыз туындаған жағдайда, бізбен хабарласыңыз. Біз сіздің кез-келген туындаған сұрағыңыздың жауабын шешеміз.</p>
						</div>
						<div class="direct_line d-flex flex-row align-items-center justify-content-start">
							<div class="direct_line_title text-center"> Телефон нөмірі:  </div>
							<div class="direct_line_num text-center" style="background: #0c5460"> 87059160728 </div>
						</div>
						<div class="contact_info">
							<ul>
								<li class="d-flex flex-row align-items-start justify-content-start">
									<div>Мекен-жайымыз: </div>
									<div>Жандосова 55</div>
								</li>
								<li class="d-flex flex-row align-items-start justify-content-start">
									<div>Call-center</div>
									<div>+53 345 7953 32453</div>
								</li>
								<li class="d-flex flex-row align-items-start justify-content-start">
									<div>E-mail</div>
									<div>honey@gmail.com</div>
								</li>
							</ul>
						</div>
						<div class="contact_social">
                            <h3> Біздің әлеуметтік желілер </h3>
							<ul class="d-flex flex-row align-items-center justify-content-start">
								<li><a href="https://ru.pinterest.com/heyhoney/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="https://api.whatsapp.com/send/?phone=%2B77064203395&text&type=phone_number&app_absent=0"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="https://instagram.com/honeyskin.kz?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="@KerbezLady_Bot"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
								<li><a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>



{#						<form method="post" class="intro_form" id="">#}
{#                        {% csrf_token %}#}
{#                        {{ form.as_p }}#}
{#                            <div class="form-error">{{ form.non_field_errors }}</div>#}
{#                                <div class="d-flex flex-row align-items-start justify-content-between flex-wrap">#}
{#                                    {% for f in form %}#}
{#                                        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>#}
{#                                        <div class="form-error">{{ f.errors }}</div>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#							<button class="button button_1 intro_button trans_200">Байланысу</button>#}
{#						</form>#}
					</div>
				</div>
            </div>
        </div>
    </div>

{#<section class="container">#}
{#			<h2 class="title">#}
{#				<span class="primary">Meet our team</span>#}
{#				<span class="secondary">#}
{#					These individuals work together to make [company name] function.#}
{#				</span>#}
{#			</h2>#}
{#			<div class="gallery-wrapper">#}
{#				<figure class="gallery-item">#}
{#					<img src="./images/portrait-female-1.jpg" alt="" class="item-image" />#}
{#					<figcaption class="item-description">#}
{#						<h2 class="name">Jane Doe</h2>#}
{#						<span class="role">Director</span>#}
{#					</figcaption>#}
{#				</figure>#}
{#				<figure class="gallery-item">#}
{#					<img src="./images/portrait-female-2.jpg" alt="" class="item-image" />#}
{#					<figcaption class="item-description">#}
{#						<h2 class="name">Jane Doe</h2>#}
{#						<span class="role">Marketing</span>#}
{#					</figcaption>#}
{#				</figure>#}
{#				<figure class="gallery-item">#}
{#					<img src="./images/portrait-male-1.jpg" alt="" class="item-image" />#}
{#					<figcaption class="item-description">#}
{#						<h2 class="name">John Doe</h2>#}
{#						<span class="role">Finance</span>#}
{#					</figcaption>#}
{#				</figure>#}
{#				<figure class="gallery-item">#}
{#					<img src="./images/portrait-male-2.jpg" alt="" class="item-image" />#}
{#					<figcaption class="item-description">#}
{#						<h2 class="name">John Doe</h2>#}
{#						<span class="role">Operations</span>#}
{#					</figcaption>#}
{#				</figure>#}
{#				<figure class="gallery-item">#}
{#					<img src="./images/portrait-female-3.jpg" alt="" class="item-image" />#}
{#					<figcaption class="item-description">#}
{#						<h2 class="name">Jane Doe</h2>#}
{#						<span class="role">Human resources</span>#}
{#					</figcaption>#}
{#				</figure>#}
{#			</div>#}
{#		</section>#}

{##}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{#<form method="post">#}
{#  {% csrf_token %}#}
{##}
{#    <div class="form-error">{{ form.non_field_errors }}</div>#}
{##}
{#{% for f in form %}#}
{#<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>#}
{#<div class="form-error">{{ f.errors }}</div>#}
{#{% endfor %}#}
{##}
{##}
{#    <button type="submit">Отправить</button>#}
{#</form>#}
{##}
{% endblock %}
