{% extends 'honey/base.html' %}

{% block content %}

    {% load static %}
	<div class="home d-flex flex-column align-items-start justify-content-end">
        {% load static %}
{#		<div class="background_image" style="background-image:url(images/about.jpg)"></div>#}
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'honey/images/bet0.jpg' %}"></div>
		<div class="home_overlay"><img src="{% static 'honey/images/home_overlay.png' %}" alt=""></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content" >
							<div class="home_title" >Блог</div>
                            <div class="home_text"><h6>Өз теріңізге қатысты қызықты және пайдалы ақпараттар алыңыз!</h6></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<body>

<div class="super_container">

	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- Blog Post -->
					<div class="blog_post">
						<div class="blog_post_image"><img src="{% static 'honey/images/bet.jpg' %}" alt="" width="1200px" height="500px"></div>
						<div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
							<div class="date_day">18</div>
							<div class="date_month">Мамыр</div>
							<div class="date_year">2023</div>
						</div>
						<div class="blog_post_title"><a href="#">Тері аурулары туралы не білу керек</a></div>
						<div class="blog_post_text text-center">
							<p> Тері - ағзаны инфекциялардан қорғайтын ең үлкен орган болып табылады, сонымен қатар көптеген функцияларды орындайды. Кез келген тері ауруы - бұл тітіркенуді, бітелуді немесе қабынуды бастайтын жағдай. Көбінесе мұндай жағдайлар бөртпе немесе басқа ұқсас өзгерістердің пайда болуымен бірге жүреді. Кейбіреулер тез өтеді, ал басқалары әртүрлі жағымсыз белгілерді тудыруы мүмкін. </p>
						</div>
						<div class="blog_post_button text-center"><div class="button button_1 ml-auto mr-auto"><a href="{% url 'face' %}">Ары қарай оқу үшін</a></div></div>
					</div>

					<!-- Blog Post -->
					<div class="blog_post">
						<div class="blog_post_image"><img src="{% static 'honey/images/bet1.jpg' %}" alt="" width="1200px" height="500px"></div>
						<div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
							<div class="date_day">17</div>
							<div class="date_month">Мамыр</div>
							<div class="date_year">2023</div>
						</div>
						<div class="blog_post_title"><a href="#">Бет терісін не бұзады?</a></div>
						<div class="blog_post_text text-center">
							<p> Әдемі, тегіс, барқытты және жарқыраған бет терісі - жасына қарамастан әрбір әйелдің арманы. Өкінішке орай, бәрі де идеалды контурлармен, әжімдердің, пигментацияның, безеудің және басқа ақаулардың болмауымен мақтана алмайды. </p>
						</div>
						<div class="blog_post_button text-center"><div class="button button_1 ml-auto mr-auto"><a href="{% url 'face2' %}">Ары қарай оқу үшін</a></div></div>
					</div>

					<!-- Blog Post -->
					<div class="blog_post">
						<div class="blog_post_image"><img src="{% static 'honey/images/bet2.jpg' %}" alt="" width="1200px" height="500px"></div>
						<div class="blog_post_date d-flex flex-column align-items-center justify-content-center">
							<div class="date_day">16</div>
							<div class="date_month">Мамыр</div>
							<div class="date_year">2023</div>
						</div>
						<div class="blog_post_title"><a href="#">SPF дегеніміз не және SPF50 қорғанысымен тотығу мүмкін бе?</a></div>
						<div class="blog_post_text text-center">
                            <p> Күн, дәлірек айтсақ, ультракүлгін сәулелер - біздің терімізге өте нашар әсер етеді, сондықтан оны ультракүлгін сәулелерден сенімді қорғауды қамтамасыз ету өте маңызды. Күн радиациясының екі түрі бар, олардың әрқайсысы біздің денемізге өзінше әсер етеді.
                        </div>
						<div class="blog_post_button text-center"><div class="button button_1 ml-auto mr-auto"><a href="#">Ары қарай оқу үшін</a></div></div>
					</div>

				</div>
			</div>
{#			<div class="row page_nav_row">#}
{#				<div class="col">#}
{#					<div class="page_nav">#}
{#						<ul class="d-flex flex-row align-items-center justify-content-center">#}
{#							<li class="active"><a href="#">01.</a></li>#}
{#							<li><a href="#">02.</a></li>#}
{#							<li><a href="#">03.</a></li>#}
{#						</ul>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
		</div>
	</div>

	<!-- Newsletter -->
</div>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>


</body>

{% endblock %}