{% extends 'honey/base.html' %}

{% block content %}

    {% load static %}
	<div class="home d-flex flex-column align-items-start justify-content-end">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'honey/images/blogg.jpg' %}" data-speed="0.8"></div>
		<div class="home_overlay"><img src="{% static 'honey/images/home_overlay.png' %}" alt=""></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Блог</div>
                            <div class="home_text"><h4>2023 жылғы жаңа продукт шығарған компаниялар</h4></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- Blog Post -->
					<div class="blog_post">
                        <p><h1>BABOR</h1></p>
						<div class="blog_post_image"><img src="https://i.ebayimg.com/images/g/P3wAAOSw-iFgRUtf/s-l1600.jpg" alt="" style="width: 1300px; height: 800px"></div>
						<div class="blog_post_text text-center">
							<p>Гидрофильное очищение для чувствительной кожи, Babor
                                Марка Babor обновила очищающую линию средств и в формулах сделала ставку на экстракт протеинов из семян моринги. Бестселлер бренда — гидрофильное масло — теперь идет в комплекте со специальным фитобустером. Масло вытягивает загрязнения, как магнит, а фитобустер (его подбирают по типу кожи) насыщает полезными компонентами и снимает ощущение стянутости.</p>
						</div>
					<!-- Blog Post -->
					<div class="blog_post">
                        <p><h1>L`OREAL</h1></p>
						<div class="blog_post_image"><img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/68b46727594877.563679ade8c27.jpg" alt="" style="width: 1300px; height: 800px"></div>
						<div class="blog_post_text text-center">
							<p>  Компания L'Oréal представила на выставке CES 2022 последние технологические инновации — два продукта для домашнего и салонного ухода за волосами. Colorsonic — портативное устройство, которое позволяет смешивать краски для волос и равномерно наносить их в домашних условиях. Coloright — система окрашивания волос с искусственным интеллектом для стилистов, которая использует виртуальную примерку цвета и алгоритм для окраски волос в 1500 оттенков на выбор.</p>
						</div>
					</div>

					<!-- Blog Post -->
					<div class="blog_post">
                        <p><h1>CHANEL</h1></p>
						<div class="blog_post_image"><img src="https://pbs.twimg.com/media/DuKm9slWsAEwF8T.jpg:large" alt="" style="width: 1300px; height: 800px"></div>
						<div class="blog_post_text text-center">
							<p>Чуть позже бренд Chanel запустил линию косметике No1 de Chanel  — «новое поколение красоты», в которой также используются упаковки Sulapac. Формулы продуктов созданы на основе экстракта красной камелии и на 97% состоят из ингредиентов растительного происхождения, крышка изготовлена на 90% из биоматериалов, бутылка — из легкого стекла, пригодного для вторичной переработки, этикетка напечатана органическими чернилами. Продукция не содержит целлофана, а информационные листовки не прилагаются, вместо них напечатан QR-код для телефона. Максимально экологично из возможного на сегодняшний день.</p>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'honey/images/newsletter.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="newsletter_title">Subscribe to our newsletter</div>
				</div>
			</div>
			<div class="row newsletter_row">
				<div class="col-lg-8 offset-lg-2">
					<div class="newsletter_form_container">
						<form action="#" id="newsleter_form" class="newsletter_form">
							<input type="email" class="newsletter_input" placeholder="Your E-mail" required="required">
							<button class="newsletter_button">subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}