{% extends 'honey/base.html' %}

{% block content %}

    {% load static %}
	<div class="home d-flex flex-column align-items-start justify-content-end">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'honey/images/blogg.jpg' %}" data-speed="0.8"></div>
		<div class="home_overlay"><img src="{% static 'honey/images/home_overlay.png' %}" alt=""></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Блог</div>
                            <div class="home_text"><h4>2023 жылғы жаңа продукт шығарған компаниялар</h4></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- Blog Post -->
					<div class="blog_post">
                        <p><h1>BABOR</h1></p>
						<div class="blog_post_image"><img src="https://i.ebayimg.com/images/g/P3wAAOSw-iFgRUtf/s-l1600.jpg" alt="" style="width: 1300px; height: 800px"></div>
						<div class="blog_post_text text-center">
							<p>Сезімтал теріге арналған гидрофильді тазарту, Babor бренді Babor өнімдердің тазартқыш желісін жаңартты және формулаларда моринга тұқымынан алынған ақуыз сығындысына ставка жасады. Брендтің бестселлері-гидрофильді май-енді арнайы фитобустермен бірге келеді. Май қоспаларды магнит сияқты тартады, ал фотобустер (терінің түріне сәйкес таңдалады) пайдалы компоненттермен қанықтырады және тығыздық сезімін жеңілдетеді.</p>
						</div>
					<!-- Blog Post -->
					<div class="blog_post">
                        <p><h1>L`OREAL</h1></p>
						<div class="blog_post_image"><img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/68b46727594877.563679ade8c27.jpg" alt="" style="width: 1300px; height: 800px"></div>
						<div class="blog_post_text text-center">
							<p>L ' Oréal ces 2022 көрмесінде соңғы технологиялық инновацияларды — үйдегі және салондағы шаш күтіміне арналған екі өнімді ұсынды. Colorsonic-шаш бояғыштарын араластыруға және оларды үйде біркелкі жағуға мүмкіндік беретін портативті құрылғы. Coloright-таңдау үшін 1500 реңкте шашты бояу үшін виртуалды түсті фитинг пен алгоритмді қолданатын стилистерге арналған жасанды интеллект шашты бояу жүйесі.</p>
						</div>
					</div>

					<!-- Blog Post -->
					<div class="blog_post">
                        <p><h1>CHANEL</h1></p>
						<div class="blog_post_image"><img src="https://pbs.twimg.com/media/DuKm9slWsAEwF8T.jpg:large" alt="" style="width: 1300px; height: 800px"></div>
						<div class="blog_post_text text-center">
							<p>Біраз уақыттан кейін Chanel бренді No1 De Chanel косметикасының желісін шығарды — "сұлулықтың жаңа буыны", ол сонымен қатар Sulapac пакеттерін пайдаланады. Өнім формулалары қызыл Камелия сығындысы негізінде жасалған және 97% өсімдік тектес ингредиенттерден тұрады, қақпағы 90% биоматериалдардан жасалған, бөтелке қайта өңдеуге болатын жеңіл шыныдан жасалған, жапсырма органикалық сиямен басылған. Өнімдерде целлофан жоқ, ал ақпараттық парақшалар қосылмаған, оның орнына телефонға арналған QR коды басылған. Бүгінгі күні мүмкін болатын ең экологиялық таза.</p>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'honey/images/newsletter.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="newsletter_title">Жаңалықтардан қалмау үшін жазылыңыз!</div>
				</div>
			</div>
			<div class="row newsletter_row">
				<div class="col-lg-8 offset-lg-2">
					<div class="newsletter_form_container">
						<form action="{% url 'news' %}" method="post">
                            {% csrf_token %}
                                <input type="email" class="newsletter_input" placeholder="Your E-mail" required="required">

{#                            {% for f in form %}#}
{#                                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>#}
{#                                <div class="form-error">{{ f.errors }}</div>#}
{#                            {% endfor %}#}
							<button type="submit" class="newsletter_button">subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}