{% extends 'honey/base.html' %}
{% load static %}
{% block content %}
<div class="text-dark" style="margin-top: 120px; margin-left: 30px">
            <ul class="d-flex flex-row align-items-left" >
            <a class="btn btn-outline-danger" href="{% url 'blog' %}">Артқа қайту</a>
            </ul>
    <div class="justify-content-md-center" style="margin-left: 100px; margin-bottom: 100px; margin-top: 40px; " >
        <h3>Бет терісін не бұзады?</h3>
        <img src="{% static 'honey/images/bet.jpeg' %}" width="700px" height="400px">
        <p style="font-size: large" > Әдемі, тегіс, барқытты және жарқыраған бет терісі - жасына қарамастан әрбір әйелдің арманы. Өкінішке орай, бәрі де идеалды контурлармен, әжімдердің, пигментацияның, безеудің және басқа ақаулардың болмауымен мақтана алмайды.</p>
        <h3>Теріні бұзатын заттардың тізімі</h3>
        <p style="font-size: large">Көптеген факторлар дермистің күйіне теріс әсер етуі мүмкін - дұрыс тамақтанбаудан бастап, тіпті ең аз стресске дейін. Олардың арқасында тері икемділігін жоғалтады, күңгірт және сұр болады, мыжылған және түссіздене бастайды. Бірақ бұл мәселе терінің қартаюымен шектелмейді. Жас адамдарда эпидермис безеу, безеу, қабыну және инфекциялардан зардап шегеді. Әрбір жағымсыз фактор оның жағдайының нашарлауына және ерте қартаюына ықпал етеді.</p>
        <h3>Стресс</h3>
        <img src="{% static 'honey/images/bet1.jpeg' %}" width="700px" height="400px">
        <p style="font-size: large">Жүйке жүйесі ағзадағы барлық процестерге әсер етеді. Бірақ оның тері проблемалары ең алдымен терінің күйінде көрінеді. Егер сіз күн сайын тітіркенуді, ашулануды, апатияны, депрессияны сезінсеңіз, дерма өзінің табиғи көлеңкесін, серпімділігін жоғалтады. Тері ғана емес, шаш пен тырнақтар да жүйке бұзылуына теріс әсер етеді.</p>
        <p style="font-size: large">Стресстің алдын алу жақсы, бірақ бұл әрқашан мүмкін емес. Бұл жағдайда стресске төзімділік пен седативтерді қалыптастыру үшін сеанстарды тағайындайтын невропатологпен немесе психотерапевтпен кеңесу керек. Бұл терінің күйіне де әсер ететін жағымсыз реакциялардың үлкен тізімі бар күрделі антидепрессанттар мен транквилизаторлар болуы міндетті емес. Соңғы ұрпақтың заманауи седативтері құрамында амин қышқылдары бар. Бұл бүкіл ағзаға, әсіресе жүйке жүйесіне қауіпсіз және пайдалы пептидті препараттар.</p>
        <h3>Тамақтану</h3>
            <img src="{% static 'honey/images/bet3.jpg' %}" width="700px" height="400px">
            <p style="font-size: large"><span>Қазіргі уақытта дұрыс тамақтану туралы көп айтылады. Біздің жейтініміз теріміздің күйіне әсер етеді. Бірақ бұл дәл қазір қатаң диетаға отыру керек дегенді білдірмейді. Керісінше, бүкіл әлемдегі диетологтар тым үлкен шектеулерді ұстануға емес, ақылға қонымды тамақтануға кеңес береді.</span></p>
        <p style="font-size: large">Күнделікті диетада талшықтарға, витаминдерге және минералдарға бай тағамдар болуы керек:</p>
            <li> бұршақ дақылдары; </li>
            <li> көп мөлшерде талшықты қамтитын тағамдар; </li>
            <li> көкөністер мен жемістер; </li>
            <li> сүт өнімдері; </li>
            <li> балық және майсыз ет; </li>
            <li>жаңғақтар;</li>
            <li>жарма.</li>

        <p style="font-size: large">Тек калорияларды санау ғана емес, белгілі бір сәтте ағзаға қанша ақуыз, май және көмірсулар қажет екенін білу ақылды. Ең оңай жолы - әдеттегі диетаны қалдыру, бірақ келесі өнімдерден бас тарту:</p>
        {#    <ul>#}
            <li> 1. Қант мөлшері жоғары тағамдар. Жылдам көмірсулардың шамадан тыс мөлшері теріге зиянды, әсіресе безеу, комедондар, безеулер болған кезде. Кәмпиттер, кондитерлік өнімдер мен торттар, тәтті сода кептірілген жемістермен, жемістермен, жидектермен, табиғи шырындармен, жаңа піскен шырындармен және смузилермен жақсы ауыстырылады.</li>
            <li> 2. Наубайхана. Мұндай тағамдарда қарапайым көмірсулар мен майлардың қауіпті комбинациясы теріге зиянды және салмақтың өсуіне ықпал етеді.</li>
            <li> 3. Фастфуд. Гамбургерлер, хот-догтар, шаурма және басқа да фастфуд түрлерін жеу ауыр зиян келтіреді.</li>
            <li> 4. Майлы, ысталған, тұзды, ащы тағамдар. Бұл өнімдердің барлығы пайдалы емес, сонымен қатар тұз денеде суды ұстайды, бұл ісінуге әкеледі.</li>
        {#    </ul>#}
        <p style="font-size: large"> Гликация реакциясын белсендіретін AGE өнімдерінің теориясы бар, яғни олар жасушаны бітеп тастайтын және оның қалыпты жұмысына кедергі келтіретін қалдықтарды құрайды. AGE тағамдарының құрамдас бөліктері тіндерде жиналғанда, коллаген талшықтары бір-біріне жабысатын сияқты, тері серпімділігін жоғалтады, құрғақ және пигментті болады. </p>
        <h3>Дене белсенділігі және ішу режимі</h3>
        <img src="{% static 'honey/images/bet4.jpg' %}" width="700px" height="400px">
        <p style="font-size: large">Белсенді емес өмір салты мен отырықшы жұмыс денеде тоқырауға әкеледі. Қан айналымы және лимфа ағыны бұзылады, ісіну пайда болады, қосымша фунт тез жиналады. Бұл терінің ісінуі, көздің астындағы сөмкелер мен көгерулер, целлюлит және басқа да мәселелер.</p>
        <p style="font-size: large">Күнделікті физикалық белсенділік маңызды, бірақ жаттығу ақылға қонымды қарқынмен және есептелген күшпен жасалуы керек. Әрбір бұлшықет тобының өз жаттығулары бар, тіпті бет пен мойынға арналған бет-бейне жасау.</p>
        <p style="font-size: large">Ауыз ішу режиміне келетін болсақ - денеге қанша су қажет болса, сонша су ішу керек. Бірақ сонымен бірге терінің күйін бақылаңыз - егер ол тым құрғақ болса, онда ылғал аз болса, көбірек су ішу керек.</p>
        <h3>Күтім және косметика </h3>
        <img src="{% static 'honey/images/bet5.jpg' %}" width="700px" height="400px">
        <p style="font-size: large"> Күтім тұрақты болуы керек. Күн сайын тері күрделі сынақтарға ұшырайды - тері тесіктері ластанады, нәтижесінде жасушалар жеткілікті мөлшерде оттегі мен қоректік заттарды ала алмайды. Күтім - бұл кәдімгі сумен күніне екі рет жуу емес, қадамдық процедура:</p>
        <li>мицеллярлы су негізіндегі агрессивті заттарсыз жұмсақ көбікпен макияжды кетіру;</li>
        <li>сарысуды қолдану;</li>
        <li>көз аймағына арналған өнімді пайдалану (ісінулерден, шеңберлерден, мүмкін көтеру әсерімен);</li>
        <li>ылғалдандыратын және нәрлендіретін кремді жағу (түнде және күндіз әр түрлі).</li>
        <p style="font-size: large">Аптасына шамамен 2-3 рет скрабты қолдану керек. Сіз дайын өнімдерді сатып ала аласыз немесе композицияны өзіңіз жасай аласыз. Ол үшін мас қайнатылған кофе, ұнтақталған бадам дәндері, теңіз тұзы қолайлы. бал, эфир майлары, витаминдер, жеміс немесе көкөніс пюресі, кебек және т.б. қосуға болады.</p> <br>
        <p style="font-size: large">Сондай-ақ, аптасына екі рет теріні қоректік заттар, коллаген және гиалурон қышқылы бар маскамен еркелету керек. Жасқа байланысты және проблемалы дермис үшін салон процедуралары қолайлы:</p>
        <li>мезотерапия;</li>
        <li>химиялық пилинг;</li>
        <li>лазерлік және фототерапия</li>
        <p style="font-size: large">Терінің түріне қатаң сәйкес сәндік және тері күтімі косметикасын қолдану өте маңызды. Қолданар алдында сіз аллергиялық сынақтан өтуіңіз керек - өнімді локте немесе білекке 5 минут бойы жағыңыз. Ешбір жағдайда мерзімі өткен немесе сапасыз косметиканы қолданбау керек, бұл эпидермис пен аллергиялық реакциялардың жағдайын нашарлатады.</p>
        <p style="font-size: large">Теріні зақымдайтын көптеген факторлар бар. Бірақ егер сіз барлық күтім ережелерін сақтасаңыз және салауатты, толыққанды өмір салтын ұстанатын болсаңыз, жағымсыз салдардан аулақ болуға болады.</p>
    </div>
</div>

    {% endblock %}