{% extends 'honey/base.html' %}

{% block content %}

{#     <div class="row">#}
{#        {% for p in posts %}#}
{#            <div class="col-sm-3">#}
{#                <div class="card">#}
{#                    {% if p.photo %}#}
{#                       <img class="card-img-top" src="{{p.photo.url}}" alt="Post image)">#}
{#                    {% endif %}#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">{{ p.title }}</h5>#}
{#                        <p class="card-text">{% autoescape on %} {{p.content|linebreaks|truncatewords:10 }} {% endautoescape %}</p>#}
{#                        <a href="{{ p.get_absolute_url }}" class="btn btn-primary"> Толығырақ </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}

	<!-- Home -->

	<div class="home">

		<!-- Home Slider -->
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">

				<!-- Slide -->
				<div class="owl-item">
                    {% load static %}
					<div class="background_image" style="background-image:url({% static 'honey/images/ban3.jpg' %})"></div>
					<div class="home_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_content">
										<div class="home_subtitle" style="margin-top: 220px">#1 косметика дүкені</div>
										<div class="home_title">Өзіңді өзгерт</div>
										<div class="home_text">
											<p>Ең білікті мамандардан ақпарат алып, бізбен бірге өзіңді жақсы жаққа өзгерт.</p>
										</div>
										<div class="home_buttons d-flex flex-row align-items-center justify-content-start">
											<div class="button button_1 trans_200"><a href="#">толығырақ</a></div>
											<div class="button button_2 trans_200"><a href="{% url 'contact' %}">байланысу үшін</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="owl-item">
					<div class="background_image" style="background-image:url({% static 'honey/images/ho_slide.jpg' %})"></div>

				</div>

				<!-- Slide -->
				<div class="owl-item">
					<div class="background_image" style="background-image:url({% static 'honey/images/blogg.jpg' %})"></div>
					</div>
				</div>

			</div>

			<!-- Home Slider Dots -->

			<div class="home_slider_dots">
				<ul id="home_slider_custom_dots" class="home_slider_custom_dots d-flex flex-row align-items-center justify-content-start">
					<li class="home_slider_custom_dot trans_200 active"></li>
					<li class="home_slider_custom_dot trans_200"></li>
					<li class="home_slider_custom_dot trans_200"></li>
				</ul>
			</div>

		</div>
	</div>






{#    <div class="card " style="width: 18rem;">#}
{#    {% if p.photo %}#}
{#	    <img class="card-img-top" src="{{p.photo.url}}" alt="Post image)">#}
{#    {% endif %}#}
{#      <div class="card-body">#}
{#        <h5 class="card-title">{{p.title}}</h5>#}
{#        <p class="card-text"> {% autoescape on %}{{p.content|linebreaks|truncatewords:10}}{% endautoescape %}</p>#}
{#        <a href="{{ p.get_absolute_url }}" class="btn btn-primary"> Толығырақ </a>#}
{#      </div>#}
{#    </div>#}
{#{% endfor %}#}


{#<ul class="list-articles">#}
{#	{% for p in posts %}#}
{#			<li><div class="article-panel">#}
{#	<p class="first">Категория: {{p.cat}}</p>#}
{#	<p class="last">Дата: {{p.time_update|date:"d-m-Y H:i:s"}}</p>#}
{#</div>#}
{##}
{#{% if p.photo %}#}
{#	<p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>#}
{#{% endif %}#}
{#                <h2>{{p.title}}</h2>#}
{#	{% autoescape on %}#}
{#	{{p.content|linebreaks|truncatewords:10}}#}
{#	{% endautoescape %}#}
{#			<div class="clear"></div>#}
{#			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Толығырақ</a></p>#}
{#			</li>#}
{#	{% endfor %}#}
{#</ul>#}





	<!-- Intro -->

	<div class="intro">
		<div class="container">
			<div class="row">

				<!-- Intro Content -->
				<div class="col-lg-6 intro_col">
					<div class="intro_content">
						<div class="section_title_container">
							<div class="section_subtitle">HoneySkin</div>
							<div class="section_title"><h2>Біздің клиникамызға қош келдіңіз!</h2></div>
						</div>
						<div class="intro_text">
							<p>Біз веб-сайтты үнемі жетілдіріп отыру арқылы табысты клиенттеріміздің уақытын, күш-жігерін және эмоцияларын жұмсау қажеттілігін азайтамыз. Сіз өзіңізді қызықтыратын өнімді бірнеше секунд ішінде таба аласыз. Интернеттен өнім туралы пікірлерді іздеудің қажеті жоқ-біздің жаһандық Сұлулық қауымдастығы басқаларға дұрыс таңдау жасауға көмектесу арқылы сатып алу тәжірибесімен бөліседі. Біз сондай — ақ танымал брендтердің жетекші мамандарының ауқымды клиенттік қолдауын ұйымдастырдық-бұл үшін сізге қызығушылық танытатын өнім бетінде сұрақ қою керек. Қоймалардағы тапсырыстарды есепке алу, өңдеу және дайындаудың тиімді жүйесі, жеке Курьерлік қызмет және жетекші логистермен серіктестік клиенттерге барлық тапсырыстарды тез және ыңғайлы алуға мүмкіндік береді. Біз сіздің уақытыңызды шынымен маңызды нәрселерге үнемдейміз!</p>
						</div>
						<div class="milestones">
							<div class="row milestones_row">

								<!-- Milestone -->
								<div class="col-md-4 milestone_col">
									<div class="milestone">
										<div class="milestone_counter" data-end-value="5000" data-sign-before="+">0</div>
										<div class="milestone_text">Пайдаланушылар</div>
									</div>
								</div>

								<!-- Milestone -->
								<div class="col-md-4 milestone_col">
									<div class="milestone">
										<div class="milestone_counter" data-end-value="500" data-sign-before="+">0</div>
										<div class="milestone_text">Өнімдер</div>
									</div>
								</div>

								<!-- Milestone -->
								<div class="col-md-4 milestone_col">
									<div class="milestone">
										<div class="milestone_counter" data-end-value="70" data-sign-before="+">0</div>
										<div class="milestone_text">Мамандар</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- Intro Form -->
				<div class="col-lg-6 intro_col">
					<div class="intro_form_container">
						<div class="intro_form_title">Байланысу үшін</div>
						<form action="#" method="post" class="intro_form" id="intro_form">
                            <div class="form-error">{{ form.non_field_errors }}</div>
                            {% for f in form %}
                                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                                <div class="form-error">{{ f.errors }}</div>
                            {% endfor %}
							<div class="d-flex flex-row align-items-start justify-content-between flex-wrap">
								<input type="text" class="intro_input" placeholder="Аты жөніңіз" required="required">
								<input type="email" class="intro_input" placeholder="Электронды пошта" required="required">
								<input type="tel" class="intro_input" placeholder="Телефон нөмір" required="required">
								<input type="text" id="datepicker" class="intro_input datepicker" placeholder="күні" required="required">
							</div>
							<button class="button button_1 intro_button trans_200">Байланысу</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{#    <div class="col-lg-6 intro_col">#}
{#        <div class="row">#}
{#            {% for p in posts %}#}
{#                <div class="col-sm-3">#}
{#                    <div class="card">#}
{#                        {% if p.photo %}#}
{#                           <img class="card-img-top" src="{{p.photo.url}}" alt="Post image)">#}
{#                        {% endif %}#}
{#                        <div class="card-body">#}
{#                            <h5 class="card-title">{{ p.title }}</h5>#}
{#                            <p class="card-text">{% autoescape on %} {{p.content|linebreaks|truncatewords:10 }} {% endautoescape %}</p>#}
{#                            <a href="{{ p.get_absolute_url }}" class="btn btn-primary"> Толығырақ </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}




	<!-- Call to action -->

	<div class="cta">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_container d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
						<div class="cta_content">
							<div class="cta_title">Бізбен бірге өміріңді өзгерт!</div>
							<div class="cta_text">Ең сапалы косметика мен ең мықты мамандар</div>
						</div>
						<div class="cta_phone ml-lg-auto">+7 775 981 2774</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Services -->
    {% load static %}
	<div class="services">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title_container">
						<div class="section_subtitle">Honey Skin</div>
						<div class="section_title"><h2>Біздің сервистер</h2></div>
					</div>
				</div>
			</div>

			<div class="row services_row">
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service text-center">
						<div class="service">
							<div class="icon_container d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
								<div class="icon"><img src="{% static 'honey/images/icon_4.svg' %}" alt="1"></div>
							</div>
							<div class="service_title"> Косметикалар </div>
							<div class="service_text"> <p> Өзіңігзе керек косметиканы біздің сайтымыздан таба аласыз. </p> </div>
						</div>
					</div>
				</div>

				<div class = "col-xl-4 col-md-6 service_col">
					<div class="service text-center">
						<div class="service">
							<div class="icon_container d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
								<div class="icon"><img src="{% static 'honey/images/icon_5.svg' %}" alt="2"></div>
							</div>
							<div class="service_title">Мамандармен байланыс</div>
							<div class="service_text"><p>Тері күтімі жайлы ақпарат пен өзіңізді мазалап жүрген сұрақтарға жауап ала аласыз.</p></div>
						</div>
					</div>
				</div>


				<div class="col-xl-4 col-md-6 service_col">
					<div class="service text-center">
						<div class="service">
							<div class = "icon_container d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
								<div class = "icon"><img src="{% static 'honey/images/icon_6.svg' %}" alt=3"></div>
							</div>
							<div class = "service_title">Қызық ақпараттар</div>
							<div class = "service_text"><p>Косметика жайлы қызық және керек ақпараттар ала аласыз.</p></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>






	<!-- Extra -->

	<div class="extra">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/extra.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
                <img src="{% static 'honey/images/sale.jpg' %}"  alt="">
				<div class="col">
					<div class="extra_container d-flex flex-row align-items-start justify-content-end">
						<div class="extra_content">
							<div class="extra_disc d-flex flex-row align-items-end justify-content-start">
								<div>20<span>%</span></div>
								<div>Жеңілдік</div>
							</div>
							<div class="extra_title">Тек Мамыр айына</div>
							<div class="extra_text">
								<p> Дүкеннің ашылуына байланысты 1-31 мамыр аралығында болатын жеңілдікті өткізіп алмаңыз!</p>
							</div>
							<div class="button button_1 extra_link trans_200"><a href="https://api.whatsapp.com/send/?phone=%2B77064203395&text&type=phone_number&app_absent=0">толығырақ</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->

{% endblock %}
{##}
{#<body>#}
{##}
{##}
{##}
{#<ul class="list-articles">#}
{#	{% for p in posts %}#}
{#			<li><div class="article-panel">#}
{#	<p class="first"> Категория: {{p.cat}} </p>#}
{#	<p class="last"> Күні : {{ p.time_update|date: "d-m-Y H:i:s" }} </p>#}
{#</div>#}
{##}
{##}
{#        {% if p.photo %}#}
{#	    <p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>#}
{#        {% endif %}#}
{#            <h2>{{p.title}}</h2>#}
{#	    {% autoescape on %}#}
{#	        {{ p.content|linebreaks|truncatewords:50 }}#}
{#	    {% endautoescape %}#}
{#			<div class="clear"></div>#}
{#			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Толығырақ</a></p>#}
{#			</li>#}
{##}
{##}
{#	{% endfor %}#}
{#</ul>#}
{##}
{#{% endblock %}#}










{#{% extends 'honey/base.html' %}#}
{##}
{#{% block content %}#}
