{% extends 'honey/base.html' %}
{% block content %}
<h1>{{title}}</h1>
	<!-- Menu -->
{#     <div class="row">#}
{#        {% for p in posts %}#}
{#            <div class="col-sm-3">#}
{#                <div class="card">#}
{#                    {% if p.photo %}#}
{#                       <img class="card-img-top" src="{{p.photo.url}}" alt="Post image)">#}
{#                    {% endif %}#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">{{ p.title }}</h5>#}
{#                        <p class="card-text">{% autoescape on %} {{p.content|linebreaks|truncatewords:10 }} {% endautoescape %}</p>#}
{#                        <a href="{{ p.get_absolute_url }}" class="btn btn-primary"> Толығырақ </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}



{#    <div class="card " style="width: 18rem;">#}
{#    {% if p.photo %}#}
{#	    <img class="card-img-top" src="{{p.photo.url}}" alt="Post image)">#}
{#    {% endif %}#}
{#      <div class="card-body">#}
{#        <h5 class="card-title">{{p.title}}</h5>#}
{#        <p class="card-text"> {% autoescape on %}{{p.content|linebreaks|truncatewords:10}}{% endautoescape %}</p>#}
{#        <a href="{{ p.get_absolute_url }}" class="btn btn-primary"> Толығырақ </a>#}
{#      </div>#}
{#    </div>#}
{#{% endfor %}#}


{#<ul class="list-articles">#}
{#	{% for p in posts %}#}
{#			<li><div class="article-panel">#}
{#	<p class="first">Категория: {{p.cat}}</p>#}
{#	<p class="last">Дата: {{p.time_update|date:"d-m-Y H:i:s"}}</p>#}
{#</div>#}
{##}
{#{% if p.photo %}#}
{#	<p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>#}
{#{% endif %}#}
{#                <h2>{{p.title}}</h2>#}
{#	{% autoescape on %}#}
{#	{{p.content|linebreaks|truncatewords:10}}#}
{#	{% endautoescape %}#}
{#			<div class="clear"></div>#}
{#			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Толығырақ</a></p>#}
{#			</li>#}
{#	{% endfor %}#}

{#</ul>#}

<div class="card" style="width: 18rem; margin-top: 80px; margin-left: 50px">
    <div class="card-header">
       Категориялар
    </div>
    <ul class="list-group list-group-flush">
        {% if cat_selected == 0 %}
            <li class="list-group-item"><a href="{% url 'kosmetics' %}">Барлық категориялар</a></li>
        {% else %}
                <li class="list-group-item" ><a href="{% url 'kosmetics' %}">Барлық категориялар</a></li>
        {% endif %}

        {% for c in cats %}
            {% if c.product__count > 0 %}
                {% if c.pk == cat_selected %}
                    <li class="selected">{{ c.name }} </li>
                {% else %}
                    <li class="list-group-item"><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</div>


{#        <div class="row" style="margin-top: 70px; margin-left: 100px">#}
{#            {% load cache %}#}
{#            <td valign="top" class="left-chapters">#}
{#                <ul id="leftchapters">#}
{#                    {%  cache 60 sidebar %}#}
{#                    {% if cat_selected == 0 %}#}
{#                        <li class="selected"><a href="{% url 'kosmetics' %}">Барлық категориялар</a></li>#}
{#                    {% else %}#}
{#                            <li><a href="{% url 'kosmetics' %}">Барлық категориялар</a></li>#}
{#                    {% endif %}#}
{##}
{#                    {% for c in cats %}#}
{#                        {% if c.product__count > 0 %}#}
{#                            {% if c.pk == cat_selected %}#}
{#                                <li class="selected">{{ c.name }} </li>#}
{#                            {% else %}#}
{#                                <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>#}
{#                            {% endif %}#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                    {% endcache %}#}
{##}
{#                            <li class="share">#}
{#                            <p>Біздің сайт</p>#}
{#                            <a class="share-yt" href="https://www.youtube.com/channel/UClJzWfGWuGJL2t-3dYKcHTA/playlists" target="_blank" rel="nofollow"></a>#}
{#                            </li>#}
{#                </ul>#}
{#            </td>#}
{#        </div>#}




{#        <div class="col-lg-4 intro_col">#}
        <div class="row" style="margin-top: 100px">
            {% for p in posts %}
                <div class="col-lg-3 d-flex align-items-stretch" style="margin-left: 60px" >
                    <div class="card">
                        {% if p.photo %}
                           <img class="card-img-top" src="{{p.photo.url}}" alt="">
                        {% endif %}
                        <div class="card-body">
                            <h6 class="card-title">Аты:{{ p.name }}</h6>
                            <h7 class="card-title">Категория: {{ p.cat}}</h7>
                            <br>
                            <h7 class="card-title">Бағасы: {{ p.price }}</h7>
                            <br>
{#                            <p class="card-text">{% autoescape on %} {{p.content|linebreaks|truncatewords:10 }} {% endautoescape %}</p>#}
                            <a href="{{ p.get_absolute_url }}" class="btn btn-primary" style="margin-top: 10px"> Толығырақ </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    <br>


<!-- Блок контента -->
<div class="content-text">

    {% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
{% if page_obj.has_previous %}
<li class="page-num">
    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
</li>
{% endif %}

        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}
{% if page_obj.has_next %}
<li class="page-num">
    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
</li>
{% endif %}

    </ul>
</nav>
{% endif %}
	</div>

<!-- Конец блока контента -->




{#        </div>#}

{#<table class="table-content" border=0 cellpadding="0" cellspacing="0">#}
{#<tr>#}
{#<!-- Sidebar слева -->#}
{#    {% load cache %}#}
{#	<td valign="top" class="left-chapters">#}
{#	<ul id="leftchapters">#}
{#{%  cache 60 sidebar %}#}
{#{% if cat_selected == 0 %}#}
{#    <li class="selected"><a href="{% url 'home' %}">Барлық категориялар</a></li>#}
{#{% else %}#}
{#		<li><a href="{% url 'home' %}">Барлық категориялар</a></li>#}
{#{% endif %}#}
{##}
{##}
{##}
{#{% for c in cats %}#}
{#{% if c.product__count > 0 %}#}
{#    {% if c.pk == cat_selected %}#}
{#        <li class="selected">{{ c.name }} </li>#}
{#    {% else %}#}
{#        <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>#}
{#    {% endif %}#}
{#{% endif %}#}
{#{% endfor %}#}
{#{% endcache %}#}
{##}
{#		<li class="share">#}
{#		<p>Біздің сайт</p>#}
{#		<a class="share-yt" href="https://www.youtube.com/channel/UClJzWfGWuGJL2t-3dYKcHTA/playlists" target="_blank" rel="nofollow"></a>#}
{#		</li>#}
{#	</ul>#}
{#</td>#}





{##}
{##}
{#{% endblock %}#}
{##}
{#<body>#}
{##}
{##}
{##}
{#<ul class="list-articles">#}
{#	{% for p in posts %}#}
{#			<li><div class="article-panel">#}
{#	<p class="first"> Категория: {{p.cat}} </p>#}
{#	<p class="last"> Күні : {{ p.time_update|date: "d-m-Y H:i:s" }} </p>#}
{#</div>#}
{##}
{##}
{#        {% if p.photo %}#}
{#	    <p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>#}
{#        {% endif %}#}
{#            <h2>{{p.title}}</h2>#}
{#	    {% autoescape on %}#}
{#	        {{ p.content|linebreaks|truncatewords:50 }}#}
{#	    {% endautoescape %}#}
{#			<div class="clear"></div>#}
{#			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Толығырақ</a></p>#}
{#			</li>#}
{##}
{##}
{#	{% endfor %}#}
{#</ul>#}
{##}
{% endblock %}










{#{% extends 'honey/base.html' %}#}
{##}
{#{% block content %}#}
