
{% load static %}
<h1>{{ title }}</h1>
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet"/>
		<link rel="stylesheet" href="{% static 'honey/css/reg.css' %}" />
	</head>

	<body>
		<div class="container">
			<span class="form__title">Sign up</span>
                <form method="post">
                    {% for f in form %}
                    {% csrf_token %}
                    <div class="form__group">
                        <i class="ri-user-line form__icon"></i>
                            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                            <div class="form-error">{{ f.errors }}</div>
                        <span class="form__bar"></span>
                    </div>
                    {% endfor %}
				<button type="submit" class="form__button">Sign up</button>
				<p class="form__switch">
					Сізде аккаунт барма? <a href="{% url 'login' %}">Login</a>
				</p>
			</form>
		</div>
	</body>
</html>




